<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container page admin" ng-show="User.isAdmin">
	<section class="edit-panel">
		<h2>Exam Dretails</h2>
		<div class="panel exam-details">
			<div class="form-item">
				<p>Exam Name</p>
				<input type="text" ng-model="exam.name">
			</div>

			<!-- <div class="form-item">
				<p>Exam Description</p>
				<textarea ng-model="exam.description"></textarea>
			</div> -->

			<div class="form-item">
				<p>Exam Duration <SMALL>in minutes</SMALL></p>
				<input type="number" min=1 max=600 ng-model="exam.duration">
			</div>

			<div class="form-item">
				<p>Exam Category</p>
				<!-- <select ng-model="exam.category" class=" browser-default">
			 		<option value="0">Select Category</option>
		      		<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
			  	</select> -->
			  	<autocomplete ng-model="exam.category" data="categories" on-type="updateMovies"></autocomplete>

			</div>

			<div class="form-item">
				<p>Exam Tags</p>
				<array-input tags="exam.tags" placeholder="Add Tag Andd Press Enter"></array-input>
			</div>

			<div class="form-item">
				<p>Exam Intructions</p>
				<p ng-repeat="instruction in exam.instructions track by $index">
				<input type="text"  ng-model="instruction.text" placeholder="{{$index+1}}">
				</p>
				<button class="btn" ng-click="addInstruction()">Add Instruction</button>
			</div>


		</div>

		<h2>Questions</h2>
		
		<div ng-repeat="question in exam.questions" class="panel one-question form-item">
			<div class="row one-question-top">
				<div class="col-xs-10">
					{{question.text}} 
				</div>

				<div class="col-xs-2 button">
					<i class="fa fa-minus pull-right" ng-click="toggle($event)"></i>
				</div>
			</div>

			<div class="one-question-content">
				<p>
					Question Text
					<span class="pull-right remove-btn" ng-show="$index!=0" ng-click="removeQuestion($index)"><i class="fa fa-times"></i> Remove Question</span>
				</p>
				<input type="text" ng-model="question.text">

				<p>
					Question Category
				</p>
				<input type="text" ng-model="question.category">

				<p>
					Question Positiov Marks
				</p>
				<input type="number" step="0.01" min=0 ng-model="question.marks">

				<p>
					Question Negative Marks
				</p>
				<input type="number" step="0.01" min=0 ng-model="question.marks_negative">
					
				<p>
					Question Options
					<span ng-click="addOption(question)" class="btn add-option"><i class="fa fa-plus"></i> Add Option</span>
				</p>

				<div ng-repeat="option in question.options">
					
					<p>
						Option Text
						<span class="pull-right remove-btn" ng-show="$index!=0" ng-click="removeOption(question, $index)"><i class="fa fa-times"></i> Remove Option</span>
					</p>
					<input type="text" ng-model="option.text">
					<div class="">
						<p>
					      <input type="checkbox" id="{{$parent.$index}}-{{$index}}" ng-model="option.isCorrect"/>
					      <label for="{{$parent.$index}}-{{$index}}">Is Correct</label>
					    </p>
					</div>
				</div>
			</div>
		</div>

		<button class="btn" ng-click="addQuestion()"><i class="fa fa-plus"></i> Add Question</button>

		<div class="clearfix"></div>
		<hr/>
		<button class="btn grey" ng-click="cancel()">Cancel</button>
		<button class="btn red" ng-click="save()" ng-show="isNewExam">Publish Exam</button>
		<button class="btn red" ng-click="update()" ng-hide="isNewExam">Update Exam</button>
		<button class="btn red pull-right" ng-click="delete()" ng-hide="isNewExam"><i class="fa fa-times"></i> Remove Exam</button>
	</section>

	<div class="clearfix"></div>
	
	<section>
		<div class="col-md-4 col-sm-6">
			<div class="test-card card">
				<div class="top">
					<h2>Add New Exam</h2>
					<div class="clearfix"></div>
				</div>
				<a ng-click="newExam()" class="waves waves-effect waves-light blue">Clcik Add A New Exam</a>
			</div>
		</div>

		<div class="col-md-4 col-sm-6" ng-repeat="test in tests">
			<div class="test-card card">
				<div class="top">
					<h2>{{test.name}}</h2>
					<p>
						{{test.description}}
					</p>
					<div class="clearfix"></div>
				</div>
				<a ng-click="getExam(test._id)" class="waves waves-effect waves-light teal">Clcik to Edit</a>
			</div>
		</div>
	</section>

</div>

