<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container narrow page exam-view">
	{{api_quiz}}
	<div class="container-fluid">
		<span class="pull-right">
			<button class="btn red" ng-disabled="timeUp" ng-click="submitExam()">Submit</button>
		</span>
	</div>
	<br/>
	<div class="container-fluid">
		<span>
			Question No {{questionNo()}}
			
		</span>
		<span class="pull-right">
			Remaining Time {{ticker.seconds | timer}}
		</span>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-6 question-description">
			<h3>
				Description of Question
			</h3>

			<a class="btn" ui-sref="question({
				id_quiz: exam._id,
				id_question: question.id
			})" ng-show="timeUp">See discussions for this question</a>

			<p ng-bind-html="question.text"></p>

			<p>
				<small>{{question.marks}} marks</small>
			</p>
			
			<p>
				<input type="checkbox" id="{{questionNo()}}notsure" ng-model="question.notSure"/>
			    <label for="{{questionNo()}}notsure">Not sure about the answer</label>
			</p>
		</div>
		<div class="col-sm-3" ng-hide="timeUp && !isCorrect(questionNo()-1)">
			<h3>Answer</h3>
			
			<p ng-repeat="option in question.options" ng-hide="question.singleAnswer">
		      <input type="checkbox" ng-disabled="timeUp" id="{{$index}}" ng-model="option.value"/>
		      <label for="{{$index}}">{{option.text}}</label>
		    </p>

		    <p ng-repeat="option in question.options" ng-show="question.singleAnswer">
		      <input name="g" type="radio" ng-disabled="timeUp" id="{{'s'+$index}}" value="{{option.text}}" ng-model="question.ans"/>
		      <label for="{{'s'+$index}}">{{option.text}}</label>
		    </p>	

		</div>
	
		<div class="col-sm-3" ng-show="timeUp && !isCorrect(questionNo()-1)">
			<h3>Answer</h3>
			You Answered
			<p ng-repeat="option in question.options">
		      <input type="checkbox" disabled="true" id="{{$index}}" ng-model="option.value"/>
		      <label for="{{$index}}">{{option.text}}</label>
		    </p>
		    Correct Answer Was		
			<p ng-repeat="option in results[questionNo()-1]">
		      <input type="checkbox" disabled="true" id="{{$index}}" checked="true" />
		      <label for="{{$index}}">{{option.text}}</label>
		    </p>

		</div>

		<div class="col-sm-3 questions-tab">
			<h3>All Questions</h3>
			
			<button class="btn blue waves waves-effect" 
					ng-disabled="isFirstQuestion()"
					ng-click="previous()">
						<i class="fa fa-chevron-left"></i> Previous
			</button>
			<button class="btn blue waves waves-effect"
					ng-disabled="isLastQuestion()"
					ng-click="next()">
						Next <i class="fa fa-chevron-right"></i>
			</button>

			<div class="clearfix"></div>
			<div class="key-wise-nav">	
				<div class="question-label card" 
					ng-repeat="q in exam.questions"
					ng-click="moveTo(q)"
					ng-class="{
						'inactive grey lighten-1': isInactive($index),
						'active waves waves-effect grey lighten-2': !isInactive($index),
						'seen': q.seen,
						'touched': touched(q),
						'notSure': q.notSure,
						'correct': isCorrect($index) && timeUp,
						'incorrect': !isCorrect($index) && timeUp,
					}">
					{{$index+1}}
				</div>
			</div>

			<div class="legend">
				<p class="qllegend"><div class="legend question-label card grey active lighten-2"></div>Question not seen</p>
				<p class="qllegend"><div class="legend question-label card grey active lighten-2 seen"></div>Question seen</p>
				<p class="qllegend"><div class="legend question-label card grey active lighten-2 touched"></div>Question answered</p>
				<p class="qllegend"><div class="legend question-label card grey active seen lighten-2 notSure"></div>Question not sure</p>
				<p class="qllegend"><div class="legend question-label card grey active seen touched lighten-2 notSure"></div>Question answered but not sure</p>
			</div>

		</div>
	</div>
</div>


<script type="text/ng-template" id="submit_template.html">

<div class="repot-dialog">
	<h2>Exam checked</h2>

	<p ng-hide="User.hasShared">
		Before you can see the results please take a moment and share our page. We appreciate that.
		<br/>
		<button class="btn btn-facebook" ng-click="share()"><i class="fa fa-facebook"></i> Share</button>
	</p>
	<p ng-show="User.hasShared">
		Your score is {{score}}
	</p>
</div>
  
</script>