
div.exam-view {
	font-size: 18px;
	label {
		font-size: 15px !important;
	}

	div.questions-tab {
		div.question-label {
			float: left;
			display: inline-block;
			line-height: 0px;
			padding: 20px;
			margin: 5px;
			border-bottom: 5px solid white;
			border-top: 5px solid transparent;
			text-align: center;
			width: 60px;
		}

		div.legend {
			color: grey;
			p {
				display: block;
				width: 100%;
				overflow: auto;
				line-height: 28px;
			}
		}

		div.question-label.legend {
			display: block;
			font-size: 13px;
			padding: 5px;
			width: 30px;
		}

		div.question-label.seen {
			border-bottom: 5px solid black;
		}

		div.question-label.seen {
			border-bottom: 5px solid transparent;
		}

		div.question-label.touched {
			border-bottom: 5px solid #2196F3;
		}

		div.question-label.notSure {
			border-top: 5px solid #ffc107;
		}

		div.question-label.correct {
			border-bottom: 5px solid #4caf50;
			border-top: 5px solid transparent;
		}

		div.question-label.incorrect {
			border-bottom: 5px solid #f44336;
			border-top: 5px solid transparent;
		}


		button {
			margin-top: 15px;
			width: 49%;
		}
	}

	div.question-description {
		img {
			max-width: 100%;
		}
	}

	div.key-wise-nav {
		border: 1px solid #dfdfdf;
		padding: 10px;
		overflow: auto;
		margin-top: 10px;
	}
}