<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container narrow page exam-view">
	{{api_quiz}}
	<div class="container-fluid">
		<span class="pull-right">
			<button class="btn red" ng-disabled="timeUp" ng-click="submitExam()">Submit</button>
		</span>
	</div>
	<div class="container-fluid">
		<span>
			Question No {{questionNo()}}
			
		</span>
		<span class="pull-right">
			Remaining Time {{ticker.seconds | timer}}
		</span>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-6 question-description">
			<h3>
				Description of Question
			</h3>

			<p ng-bind-html="question.text"></p>
			<small>{{question.marks}} marks</small>
		</div>
		<div class="col-sm-3">
			<h3>Select Answer</h3>
			<p ng-repeat="option in question.options">
		      <input type="checkbox" id="{{$index}}" ng-model="option.value"/>
		      <label for="{{$index}}">{{option.text}}</label>
		    </p>		    
		</div>
		<div class="col-sm-3 questions-tab">
			<h3>All Questions</h3>
			
			<button class="btn blue waves waves-effect" 
					ng-disabled="isFirstQuestion()"
					ng-click="previous()">
						<i class="fa fa-chevron-left"></i> Previous
			</button>
			<button class="btn blue waves waves-effect"
					ng-disabled="isLastQuestion()"
					ng-click="next()">
						Next <i class="fa fa-chevron-right"></i>
			</button>

			<div class="clearfix"></div>
			<div class="key-wise-nav">	
				<div class="question-label card" 
					ng-repeat="q in exam.questions"
					ng-click="moveTo(q)"
					ng-class="{
						'inactive grey lighten-1': isInactive($index),
						'active waves waves-effect grey lighten-2': !isInactive($index),
						'seen': q.seen,
						'touched': touched(q),
						'correct': isCorrect($index) && timeUp,
						'incorrect': !isCorrect($index) && timeUp,
					}">
					{{$index+1}}
				</div>
			</div>
		</div>
	</div>
</div>

