div.logo img {
	width: 100%;
	padding-top: 15px;
}

div.navbar-wrapper {
	margin-top: 15px;
	i.fa {
		padding-right: 15px;
	}
}

div.big-left {
	
}
div.navbar-header {
	border: 1px solid #dfdfdf;
	
}
div.social {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	a {
		display: block;
		padding: 0px 5px 0px 5px;
		

	}
}


i {
	font-weight: normal;
	padding-bottom: 10px;
}
i.fa-facebook-square {
	color: #3b5998 !important;
}
i.fa-google-plus-square {
	color: #d34836 !important;
}
i.fa-twitter-square {
	color: #4099FF !important;
}

div.navbar {
	background-color: transparent;
	border-bottom: 0px;
	text-transform: uppercase;
	font-weight: bold;
	
	li.active a {
		background-color: transparent !important;
	}
}

div#modal1 {
	width: 400px;
	overflow: hidden;
	a.btn {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
		&:hover {
			color: white;
		}
	}
	a.btn.fb {
		background-color: #3b5998 !important;
	}
	a.btn.tw {
		background-color: #4099FF !important;
	}
	form {
		padding: 30px 10px;
	}
	.or-use-email {
		text-align: center;
		margin-bottom: 10px;
	}
}

div#login {

	a.btn {
		width: 100%;
		margin-bottom: 10px;
	}
	div.or-use-email {
		width: 100%;
		padding: 10px;
		text-align: center;
		color: #afafaf;
	}
}


input.ng-dirty.ng-invalid {
	color: red;
}
input.ng-dirty.ng-valid {
	color: green;
}