<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main">

  <section>
    <div class="row big-tagline">
      TestBharat is absolutely free portal. Practice and score more. Discuss your problems on the forum. Use dashboard to locate pain points.
    </div>
  </section>

  <section class="quiz-preview">
       <!-- <div class="row">
        <div class="col top s12">
          <ul class="tabs teal-text">
            <li class="tab col s3"><a class="active" href="#test1">Tab 1</a></li>
            <li class="tab col s3"><a href="#test2">Tab 2</a></li>
            <li class="tab col s3"><a href="#test3">Tab 3</a></li>
            <li class="tab col s3"><a href="#test4">Tab 4</a></li>
          </ul>
        </div>

        <div id="test1" class="col s12">
          <quiz-card ng-repeat="test in tests"></quiz-card>
        </div>
        <div id="test2" class="col s12">
          <quiz-card ng-repeat="test in tests2"></quiz-card>
        </div>
        <div id="test3" class="col s12">
          <quiz-card ng-repeat="test in tests3"></quiz-card>
        </div>
        <div id="test4" class="col s12">
          Some more test here.
        </div>
      </div> -->

      <quiz-card ng-repeat="test in tests" ></quiz-card>

  </section>
  
</div>

