<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container page dashboard">
	<div class="container-fluid">
	</div>
	
	<div class="col-sm-2">
		<aside>
			<ul class="categories">
				<li ng-click="tags=[]" class="btn white">All Exams</li>
				<li class="btn white" ng-click="addTag(menu_item.tag)" ng-repeat="menu_item in menu">{{menu_item.name}}</li>
			</ul>
		</aside>
	</div>
	<div class="col-sm-10">
		<div class="container-fluid">
			<array-input tags="tags" placeholder="Search Exams By Tag"></array-input>
		</div>

		<quiz-card ng-repeat="test in tests" ng-show="matchesTags(test.tags)"></quiz-card>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>