<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container page dashboard">
	<div class="container-fluid profile-section">
		<div class="card">
			<div class="col-sm-4 card-image profile-pic">
				<img src="http://images2.fanpop.com/images/photos/7900000/JOHN-DOE-john-doe-7969094-2087-2560.jpg"/>
			</div>
			<div class="col-sm-8 card-content">
				<div class="row">
					<h3>John Doe</h3>
					<i class="fa fa-share share pull-right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Share Profile"></i>
				</div>
				<div class="row">
					<p><b>Overall Score</b> 90%</p>
					<table class="bordered">
				        <thead>
				          <tr>
				              <th data-field="id">Exam Aptempted</th>
				              <th data-field="name">Date</th>
				              <th data-field="price">Score</th>
				          </tr>
				        </thead>

				        <tbody>
				        
				          <tr>
				            <td>AngularJs</td>
				            <td>2 hours ago</td>
				            <td>100%</td>
				          </tr>

				          <tr>
				            <td>CSS Beginners</td>
				            <td>22 days ago</td>
				            <td>100%</td>
				          </tr>

				          <tr>
				            <td>HTML Advanced</td>
				            <td>2 February 2015</td>
				            <td>80%</td>
				          </tr>
				          
				        </tbody>
				      </table>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	<hr/>
	</div>
	
	<div class="col-sm-2">
		<aside>
			<ul class="categories">
				<li ng-click="tags=[]" class="btn white">All Exams</li>
				<li class="btn white" ng-click="addTag(menu_item.tag)" ng-repeat="menu_item in menu">{{menu_item.name}}</li>
			</ul>
		</aside>
	</div>
	<div class="col-sm-10">
		<div class="container-fluid">
			<array-input tags="tags" placeholder="Search Exams By Tag"></array-input>
		</div>

		<quiz-card ng-repeat="test in tests" ng-show="matchesTags(test.tags)"></quiz-card>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>