div.test-card {
	background-color: lighten(#efefef, 5%);
	margin-bottom: 10px;

	div.top {
		padding: 10px;
	}

	h2 {
		font-size: 20px;
		margin-top: 0px;
		color: #004d40;
	}

	p {
		color: #26a69a;
	}

	a {
		background-color: #f44336;
		color: #e0f2f1;
		display: block;
		width: 100%;
		padding: 10px;
		cursor: pointer;
		text-align: right;
		&:hover {
			text-decoration: none;
		}
	}
}