div.test-card {
	background-color: lighten(#efefef, 5%);
	margin-bottom: 10px;

	div.top {
		padding: 10px;
	}

	p.set-label {
	    line-height: 30px;
	    color: gray;
	}

	p.set-label i {
	    margin-right: 10px;
	    font-size: 30px;
	    height: 30px;
	    vertical-align: middle;
	    color: gray;
	}
	
	h2 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 5px;
		color: #009688;
		text-transform: uppercase;

	}

	p.set-value {
		color: gray;
		line-height: 30px;
	}
	
	hr {
		border-color: #eeeeee;
		border-width: 4px;
	}

	a {
		color: #e0f2f1;
		display: block;
		width: 100%;
		padding: 10px;
		cursor: pointer;
		text-align: center;
		p.set-label {
			font-weight: bold;
			color: #26A69A;
			text-transform: uppercase;
			i {
				color: #26A69A;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
}