<div ng-include="'components/navbar_logged/navbar_logged.html'"></div>

<div class="container narrow page profile-section">
	<div class="row">
		<div class="container-fluid">
			<div class="card">
				<div class="container-fluid">
					<div class="col-sm-3 card-image profile-pic" ng-click="openCropDialog()">
						<img ng-show="User.avatar" class="profile" ng-src="{{'assets/uploads/' + User.avatar + '?' + date}}"/>
						<img ng-hide="User.avatar" ng-src="assets/images/default-avatar.png"/>
						<div class="change">
							<i class="fa fa-upload fa-3x"></i>
						</div>
					</div>
					<div class="col-sm-9 card-content">
						<div class="row">
							<h3>	
								{{user.name}} 
								<button ng-click="save()" class="pull-right btn blue">Save</button>
							</h3>
							<div class="clearfix"></div>
							<p>
								<input ng-model="user.age" type="number" min=18 max=100 ng-model="user.age" placeholder="Enter your age">
							</p>
							<p>
								<input ng-model="user.tagline" type="text" ng-model="user.tagline" placeholder="Enter your tagline">
							</p>
							<div class="clearfix"></div>
							<p>Proud Member</p>
							<!-- <pre>{{user |json}}</pre> -->
							<p><a class="pull-right" ui-sref="profile-view({id:user._id})">View as Public</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6" ng-show="categories.length">
			<div class="card sm-card" ng-repeat="category in categories">
				<div class="row">
					<div class="col-xs-3 sc-left">
						<knob data-readOnly=true knob-data="{{ ((100*category.marks)/category.total) > 0 ? (100*category.marks)/category.total:0 }}" data-fgColor="#ffcc80"></knob>
					</div>
					<div class="col-xs-9">	
						<div class="col-xs-8 the-label">
							Questions
						</div>
						<div class="col-xs-4">
							{{category.questions.length}}
						</div>
						<div class="col-xs-8 the-label">
							Marks
						</div>
						<div class="col-xs-4">
							{{category.marks}}
						</div>
						<div class="col-xs-8 the-label">
							Total Marks
						</div>
						<div class="col-xs-4">
							{{category.total}}
						</div>
					</div>
				</div>
				<div class="row categ-row">
					{{category.name}}
				</div>

			</div>
		</div>

		<div class="col-md-6">
			<div class="card sm-card">
				<div class="row">
					<div class="col-xs-8 the-label">
						Total Tests
					</div>
					<div class="col-xs-4">
						{{user.exams.length}}
					</div>
					<div class="col-xs-8 the-label">
						Total Questions
					</div>
					<div class="col-xs-4">
						{{total_questions}}
					</div>
					<div class="col-xs-8 the-label">
						Total Marks
					</div>
					<div class="col-xs-4">
						{{total_marks}}
					</div>
				</div>
			</div>
			<h4 ng-show="user.exams.length">Tests Taken</h4>
			<div class="clearfix"></div>
			<div class="card sm-card" ng-repeat="exam in user.exams |  orderBy: '-date'">

				<div class="col-xs-3 sc-left">
					<knob data-readOnly=true knob-data="{{ ((100*exam.score)/exam.marks) > 0 ? (100*exam.score)/exam.marks : 0}}" konb-options="options"></knob>
				</div>
				<div class="col-xs-9">
					<h5>
						{{exam.name}}
						<small class="pull-right">{{exam.date | ago}}</small>
					</h5>
					<div class="clearfix"></div>
					{{exam.score}} out of {{exam.marks}}
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="crop_template.html">

<div class="crop-dialog">
	
	<div>Select an image file: <input onchange="angular.element(this).scope().handleFileSelect(event)" type="file" ng-model="fi" id="fileInput" /></div>
	
	<br/>
	
	<div class="cropArea">
		<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
	</div>

	<br/>

	<button class="btn" ng-click="upload()" ng-disabled="flag" >Set Image</button>

	<style>
	.cropArea {
		background: #E4E4E4;
		overflow: hidden;
		width:100%;
		height:350px;
	}
</style>
</div>
  
</script>

