<div class="teal navbar_logged" ng-controller="NavbarLoggedCtrl">
	<div class="container narrow">
		<span class="page_title">{{page_title}}</span>
		<div class="pull-right">
			<div ng-show="User">
			  <ul class="nav navbar-nav">
			    <!-- <li role="presentation"><a role="menuitem" ui-sref="dashboard">Exams Dashboard</a></li> -->
			    <li ><a ui-sref="main">Home</a></li>
			    <li ><a ui-sref="dashboard">Dashboard</a></li>
			    <li ><a ui-sref="admin" ng-show="User.isAdmin">Admin</a></li>
			    <li ><a ng-click="logout()" href="#">Logout</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>